body {
    font-family: roboto, sans-serif, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    
}

.section-one {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.section-two, .section-three {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 30px;
    margin-bottom: 100px;
}


.section-three {
    background-color: #E5E7EB;
    margin-bottom: 0;
    /*padding-top: 150px;
    padding-bottom: 150px;
    gap: 10px;*/
}

.header, .container-one, .block-four {
    margin: 0 200px;
    margin-bottom: 140px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: auto;
}

.block-four {
    margin: 100px 200px;
    padding: 50px;
    background-color: #3882F6;
    border-radius: 10px;
    justify-content: space-around;
}

.main-text {
    color: #F9FAF8;
}

.second-text {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: lighter;
}

.logo {
    display: flex;
    object-fit: cover;
    /*font-size: 24px;
    font-weight: bold;*/
    width: 130px;
    height: 130px;
    padding: 10px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
   
}

ul.wrap {
     margin: 100px;
    flex-wrap: wrap;
}

.container-one {
    gap: 30px;
}

.item {
    max-width: 450px;
    display: flex;
    flex: auto;
    gap: 15px;
}

.subitem {
    flex-direction: column;
}

button {
    background-color: #3882F6;
    font-size: 16px;
    font-weight:bold;
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
}

.wborder{
    border: 2px solid #E5E7EB;
}

.title {
    font-size: 48px;
    font-weight: bolder;
}

.item img {
    width: 450px;
    margin: 0;
    padding: 0;
}

.ilu {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 175px;
    gap: 10px;
    text-align: center;
}

.ilu img {
    object-fit: cover;
    width: 175px;
    height: 175px;
    margin: 0;
    padding: 0;
    border-radius: 10px;
}

.title-two {
    font-size: 38px;
    font-weight: bold;
}

.block-three {
    display: flex;
    flex-direction: column;
    margin: 100px 250px;
    gap: 20px;
}

.quote {
    display: flex;
    margin: auto;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    
}
.author {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 24px;
}

.footer {
    display: flex;
    background-color: #1F2937;
    height: 75px;
    justify-content: center;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.block-four .text .main-text{
    font-size: 24px;
    font-weight: 600;
}

