body {
    font-family: roboto, sans-serif, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0 200px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin-bottom: 150px;
}

.main-text {
    color: #F9FAF8;
}

.logo {
    display: flex;
    font-size: x-large;
    font-weight: bold;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
}

.container-one {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.item {
    display: flex;
    flex: 1;
    gap: 10px;
}

.subitem {
    flex-direction: column;
}

button {
    background-color: #3882F6;
}